
body {
    background:url(../img/bkg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h2 {
    color: rgb(85, 85, 85);
    font-family: "仿宋";
}

.input {
    margin-left:5%;
    margin-top: 5%;
}

.input-text {
    font-family: "仿宋";
    border-radius: 30px;
    font-size: 17px;
    padding: 20px;
    background-color: rgba(255, 255, 255);
    height: 500px;
    width: 18%;
}

.input-commit {
    font-family: "仿宋";
    font-size: 17px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255);
    width: 20.9%;
    
}

.button {
    font-family: "仿宋";
    font-size: 17px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255);
    width: 20.9%;
    text-align: center;
    margin-left: 53.5%;
    
}

.show {
    text-align: center;
    background-color: rgba(255, 255, 255);
    border-radius: 30px;
    width: 60%;
    margin-left: 34%;
    margin-top: -611px;
}

.show-tree {
    

}